<div class="mycontents">
	<h1>Prototypes#test1</h1>


	<div id="ganttDiv" style="position:relative;top:100px;">
		<table id="ganttCorner" style="position:absolute;left:0px;width:200px;width=200px;height:48px">

		</table>

		<table id="ganttTasks" style="position:absolute;left:0px;top:48px;width:200px;width=200px;height:480px">
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-1</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-2</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-3</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-4</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-5</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-6</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-7</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-8</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-9</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-10</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-11</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-12</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-13</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-14</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-15</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-16</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-17</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-18</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-19</td>
			</tr>
			<tr>
				<td style="border-width:0px 1px 1px 0px;border-style:solid; border-color:#f1f3f1;">aaa-20</td>
			</tr>
		</table>

		<table id= "ganttDay"  style="position:relative;left:0px;width:1464px;height:48px">
			<tr>
				<td colspan="30" style="width:744px;height:24px;text-align:left">
					Aug'14
				</td>
				<td colspan="30" style="width:720px;height:24px;text-align:left">
					Sep'14
				</td>
			</tr>
			<tr>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">1</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">2</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">3</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">4</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">5</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">6</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">7</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">8</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">9</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">10</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">11</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">12</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">13</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">14</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">15</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">16</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">17</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">18</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">19</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">20</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">21</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">22</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">23</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">24</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">25</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">26</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">27</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">28</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">29</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">30</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">31</td>

				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">1</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">2</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">3</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">4</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">5</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">6</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">7</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">8</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">9</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">10</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">11</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">12</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">13</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">14</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">15</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">16</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">17</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">18</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">19</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">20</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">21</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">22</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">23</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">24</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">25</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">26</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">27</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">28</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">29</td>
				<td style="width:24px;height:24px;text-align:center;border-right:1px solid #cccccc">30</td>
			</tr>
		</table>


		<div id="ganttMain" style="position:relative;left:0px;top:0px;width:1464px;height:480px;background-image:url('/images/week.png');background-repeat:repeat;background-position:-48px 0px">

		</div>

		<div id="gourp-1" style="position:absolute;left:248px;top:52px;width:120px;height:16px;
		border:1px solid #deaa78;">

			<div style="	position:relative;width:60%;height:14px;
			background-color:#f1c67a;background-image:url('/images/bar.png');
			float:left">

			</div>
			<div style="	position:relative;width:40%;height:14px;
			background-color:#ffffff;
			background-image:url('/images/bar.png');
			float:left">

			</div>

		</div>

		<div id="project-1" style="position:absolute;left:248px;top:76px;width:72px;height:16px;
		border:1px solid #deaa78;" >
		
			<div style="position:relative;width:60%;height:14px;
			background-color:#9d8064;background-image:url('/images/bar.png');
			float:left" >
			</div>
			<div style="position:relative;width:40%;height:14px;
			background-color:#ffffff;background-image:url('/images/bar.png');
			float:left" >
			</div>
		</div>

		<div id="task-1-1" style="position:absolute;left:248px;top:100px;width:24px;height:16px;
		border:1px solid #deaa78;">

			<div style="position:relative;width:100%;height:14px;
			background-color:#ea95ad;background-image:url('/images/bar.png');
			float:left" >
			</div>
			<div style="position:relative;width:0%;height:14px;
			background-color:#ffffff;background-image:url('/images/bar.png');
			float:left" >
			</div>

		</div>

		<div id="task-1-2" style="position:absolute;left:248px;top:124px;width:48px;height:16px;
		border:1px solid #deaa78;">

			<div style="position:relative;width:60%;height:14px;
			background-color:#ea95ad;background-image:url('/images/bar.png');
			float:left" >
			</div>
			<div style="position:relative;width:40%;height:14px;
			background-color:#ffffff;background-image:url('/images/bar.png');
			float:left" >
			</div>

		</div>

		<div id="task-1-3" style="position:absolute;left:272px;top:148px;width:24px;height:16px;
		border:1px solid #deaa78;">
			<div style="position:relative;width:0%;height:14px;
			background-color:#ea95ad;background-image:url('/images/bar.png');
			float:left" >
			</div>
			<div style="position:relative;width:100%;height:14px;
			background-color:#ffffff;background-image:url('/images/bar.png');
			float:left" >
			</div>

		</div>

		

	</div>
</div>