<div class="mycontents">
	<h1>Prototype5s#test</h1>


	<div id="ganttDiv" style= "position:relative;">
	</div>

	<div id="dialog-form" title="Set Task Detail">
	 
	  <form>
	    <div class="col-lg-10">
	      <label for="taskid" class="col-lg-6">ID</label>
	      <label id="taskid" class="col-lg-6"></label>
	      <div class="clearfix" />
	      <label for="name" class="col-lg-6">名称</label>
	      <input type="text" name="name" id="name" value="" class="col-lg-6 text ui-widget-content ui-corner-all">
	      <div class="clearfix" />
	      <label for="startDate" class="col-lg-6">開始日</label>
	      <label id="startDate" class="col-lg-6"></label>
	      <div class="clearfix" />
	      <label for="days" class="col-lg-6">日数</label>
	      <label id="days" class="col-lg-6"></label>
	      <div class="clearfix" />
	      <label for="percent" class="col-lg-6">進捗</label>
	      <div name="percent" id="percent" class="col-lg-6" />
	      <div class="clearfix" />
	 
	    </div>
      	<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

	  </form>
	</div>



</div>